<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div  th:fragment="absences-modal-form" id="absences-modal-form" class="modal">
    <form class="modal-content" th:action="@{./absences}" th:object="${absence}" action="#" method="POST">
        <div class="container-form">
            <label for="reason"><b>Reason</b></label>
            <input th:field="*{reason}" type="text" id="reason" required>

            <label for="date-from"><b>Date from</b></label>
            <input th:field="*{{dateFrom}}" type="date" id="date-from" required>

            <label for="date-to"><b>Date to</b></label>
            <input th:field="*{{dateTo}}" type="date" id="date-to" required>

            <label for="details"><b>Details</b></label>
            <textarea th:field="*{details}" placeholder="Enter Details" id="details" required></textarea>
        </div>

        <div>
            <button type="button" onclick="hideModal()">Cancel</button>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
<script>
    let modal = document.getElementById('absences-modal-form');

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function showModal() {
        modal.style.display = "block";
    }

    function hideModal() {
        modal.style.display = "none";
    }
</script>
</html>