div.conversacion {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f5f5;
    flex: 3;
}

div.mensajes {
    flex-direction: column;
    justify-content: revert;
    overflow-y: auto;
    height: 70vh;
    margin: 0 1%;
}

div.msgIN, div.msgOUT {
    border: 2px solid #000000;
    padding: .5em;
    margin-inline-end: 5em;
    margin: 0.5em;
    word-wrap: anywhere;
}

div.msgIN {
    text-align: left;
    background-color: #d2fafb;
    border-radius: 0px 1em 1em 1em;
    align-self: flex-start;
}

div.msgOUT {
    text-align: right;
    background-color: var(--secondary-color);
    border-radius: 1em 0 1em 1em;
    align-self: flex-end;
}

.timeIN {
    text-align: right;
}

.timeOUT {
    text-align: left;
}

.sideBar {
    flex-direction: column;
    flex: 1;
}

.user {
    align-items: center;
    padding: 1em;
    color: black;
    text-decoration: none;
    background-color: var(--light-color);
}

.selected-user {
    align-items: center;
    padding: 1em;
    color: black;
    text-decoration: none;
    background-color: var(--secondary-color);
}

.sideBar a:hover:not(.active) {
    background-color: var(--secondary-color);
}

.listaUsuarios {
    overflow-y: auto;
    height: 80vh;
}

#textoMensaje {
    font-size: 1.3em;
    font-family: Arial;
}

#sendButton {
    font-size: 1.2em;
    margin-right: 1%;
}