<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi Calendario</title>
    <link th:href="@{/css/common.css}" rel='stylesheet' />
    <link th:href="@{/css/absences.css}" rel='stylesheet' />

    <link th:href="@{/js/fullcalendar/core/main.css}" rel='stylesheet' />
    <link th:href="@{/js/fullcalendar/daygrid/main.css}" rel='stylesheet' />
    <link th:src="@{/js/fullcalendar/timegrid/main.css}" rel='stylesheet' />
    <link th:src="@{/js/fullcalendar/list/main.css}" rel='stylesheet' />

    <script th:src="@{/js/fullcalendar/core/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/daygrid/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/core/locales/es.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/rrule.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/timegrid/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/list/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/fullcalendar/rrule/main.js}" type="text/javascript"></script>

</head>
<body class="ma-0">
    <div th:replace="fragments/header :: header"></div>
    <div class="subheader pa-1 d-flex">
        <p class="title ma-0">Mi calendario</p>
        <div class="spacer"></div>
        <p class="title text-right ma-0"><span th:text="${missingDays}"></span> Dias faltados </p>
        <button class="custom-button" onclick="showModal()"><span class="title">➕ Solicitar ausencia</span></button>
    </div>
    <div class="content d-flex">
        <div id='calendar'></div>
    </div>

    <div th:replace="fragments/absences-modal-form"></div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var absencesList = /*[[${absences}]]*/ [{
                title: 'Antonio Jose - Vacations',
                start: '2020-03-01',
                end: '2020-03-05'
            }];

            console.log(absencesList);

            var getReason = (absence) => {
                return absence.user.name + " - " + absence.reason;
            }

            absencesList = absencesList.reduce((ret, absence) => {
                ret.push({
                    title: getReason(absence),
                    start: absence.dateFrom,
                    end: absence.dateTo
                });
                return ret;
            }, []);

            var absences = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid' ],
                header: {
                    left: '',
                    center: 'title',
                    right: 'today prev,next'
                },
                defaultDate: new Date(),
                locale: 'es',
                timeZone: 'local',
            });
            absences.setOption('height', 'parent');
            absences.setOption('locale', 'es');
            absencesList.forEach(abs => absences.addEvent(abs));
            absences.render();
        });
    </script>
</body>
</html>
