<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage-Doctor</title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
    <link th:href="@{/css/admin.css}" rel='stylesheet'/>

</head>
<body class="ma-0">
	<div th:replace="fragments/header :: header"></div>
	<div class="subheader d-flex">
		<h2>Administracion de doctores</h2>
		<button class="buttonUserAdmin">Filtrar</button>
		<button class="buttonUserAdmin">Ordenar</button>
		<form th:action="@{/admin/createuserview}">
			<button class="buttonUserAdmin add">Añadir Usuario</button>
		</form>
		
	</div>
	<div class="d-flex">
		<div class="sideBar d-flex">
			<div class="d-flex">
				<!--<div class="dropdown">
					<button class="buttonDrop">Pacientes</button>
					<div class="dropdown-content">
						<a href="#">Pacientes</a> <a href="#">Médicos</a>
					</div>
				</div>-->
			</div>
			<div class="listaUsuarios">
				<div class="slotLista d-flex" th:each="u: ${doctors}">
					<a class="w-100 d-flex" th:href="@{/admin/userinfo(id=${u.id})}"
						th:text="${u.name + ' ' + u.surname}">Pepe</a>
				</div>
			</div>
		</div>
		<div class="datosUsuario">
			<div class="d-flex">
				<div class="perfil d-flex" th:if="${selecteduser != null}">
					<div class="imagen">
						<img class="perfil" th:src="@{/images/default-user-profile.png}" />
					</div>
					<div class="datos">
						<h3 class="nombre" th:text="${selecteduser.name}">
							Fernando Jiménez
						</h3>
						<h4 class="registo">Registrado: 20/10/2019</h4>
					</div>
					<div class="opciones d-flex">
						<button class="verde">Actualizar foto</button>
						<form method="post" th:action="@{/admin/toggleuser(id=${selecteduser.id})}">
							<button class="rojo" type="submit" th:if="${selecteduser.enabled == 1}">
								Desactivar
							</button>
							<button class="verde" type="submit" th:if="${selecteduser.enabled == 0}">
								Activar
							</button>
						</form>
						<form method="post" th:action="@{/admin/deleteuser(id=${selecteduser.id})}">
							<button class="rojo" type="submit">Eliminar</button>
						</form>
					</div>
				</div>
				<div class="informacion d-flex" th:if="${selecteduser != null}">
					<h3>Información</h3>
					<div class="form">
						<form method="POST" th:action="@{/admin/updateuser{id}(id=${selecteduser.id})}" class="formperfil">
							<label>Nombre de usuario</label>
							<input name="username" id="username" placeholder="username"
								th:value="${selecteduser.username}" />
							<label>Nombre</label>
							<input name="name" id="name" placeholder="name" th:value="${selecteduser.name}" />
							<label>Apellido</label>
							<input name="surname" id="surname" placeholder="surname"
								th:value="${selecteduser.surname}" />
							<label>Rol actual</label><select th:field="${selecteduser.roles}" name="role" id="role">
								<option value="PATIENT" th:selected="${selecteduser.roles == 'PATIENT'? true : false}">Paciente
								</option>
								<option value="DOCTOR" th:selected="${selecteduser.roles == 'DOCTOR'? true : false}">Doctor
								</option>
							</select>
							<label for="password">Contraseña</label>
							<input type="password" id="password" name="password" />
							<label for="pass2">Contraseña Repetida</label>
							<input type="password" id="pass2" name="pass2" />
							<input type="submit" name="confirmar" value="Confirmar" />
							<input type="reset" name="reset" value="Reset" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
