<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Create-Patient</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</head>

<body class="ma-0">
    <div th:replace="fragments/header :: header"></div>
    <div class="subheader d-flex">
        <a class="back-arrow mr-1" href="/admin">⬅</a>
        <h2>Creación Usuario</h2>
    </div>
    <div class="d-flex">
        <div class="perfil d-flex">
			<div class="imagen">
				<img class="perfil" name="fotoperfil" th:src="@{/images/default-user-profile.png}" />
			</div>
			<div class="datos">
				<h3 class="nombre">
					Foto por defecto
				</h3>
			</div>
			<div class="opciones d-flex">
				<form method="get">
					<button class="verde" type="submit">
						Cambiar foto
					</button>
					<button class="rojo" type="reset">
						Quitar foto
					</button>
				</form>
			</div>
		</div>
        <div class="informacion d-flex">
            <h3>Información</h3>
            <div class="form">
                <form method="POST" th:action="@{/admin/createuser}" class="formperfil">
                    <label>Nombre de usuario</label>
                    <input name="username" id="username" required placeholder="username" />
                    <label>Nombre</label>
                    <input name="name" id="name" required placeholder="name" />
                    <label>Apellido</label>
                    <input name="surname" id="surname" required placeholder="surname" />
                    <label>Rol</label><select name="role" id="role">
                        <option value="PATIENT">Paciente</option>
                        <option value="DOCTOR">Doctor</option>
                    </select>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" />
                    <label for="pass2">Contraseña Repetida</label>
                    <input type="password" id="pass2" name="pass2" />
                    <input type="submit" name="confirmar" value="Confirmar" />
                    <input type="reset" name="reset" value="Reset" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>