<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title></title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
</head>
<body class="ma-0">
<div class="container">
    <div class="main">
        <div th:replace="fragments/header :: header"></div>
        <div th:if="${application.debug}">
            <h1 class="background-light max-title ma-0 text-align-center">Error <span th:text="${status}"></span></h1>
            <img class="center" th:src="@{/images/Physionet.png}" alt="physionet logo"/>
            <p class="ma-0 text-align-center">Los administradores están informados. Puedes volver a intentar hacer
                lo que estabas haciendo de otra forma, o esperar a que solucionen el problema o <a href="/">ve a inicio</a>.</p>
        </div>
        <!-- Esto no deberia salir en pantalla -->
        <div th:if="${application.debug}">
            <p>Ha pasado algo feo. Mira el log del servidor para saber más detalles.</p>

            <h4>Detalles del error</h4>
            <table class="errTable">
                <tr><td>Date<td th:text="${timestamp}">
                <tr><td>Path<td th:text="${path}">
                <tr><td>Error<td th:text="${error}">
                <tr><td>Status<td th:text="${status}">
                <tr><td>Mensaje<td th:text="${message}">
                <tr><td>Excepción<td th:text="${exception}">
                <tr><td>Traza<td><pre th:text="${trace}"/>
            </table>

            <h4>Variables definidas en sesión</h4>
            <table class="errTable">
                <tr th:each="v: ${session}">
                    <td><span class="errKey" th:text="${v.key}"></span>
                    <td th:text="${v.value}">
            </table>
_
            <h4>Variables definidas en parámetros</h4>
            <table class="errTable">
                <tr th:each="v: ${param}">
                    <td th:text="${v.key}">
                    <td> <div th:each="v: ${v.value}"><div th:text="${v}"></div></div>
            </table>

            <h4>Otras</h4>
            <table class="errTable">
                <tr><td>req.url
                    <td th:text="${#request.requestURL}">
                <tr><td>req.uri
                    <td th:text="${#request.requestURI}">
                <tr><td>req.getHeader("User-Agent")
                    <td th:text="${#request.getHeader('User-Agent')}">
            </table>

        </div>
    </div>
</div>
</body>
</html>
