<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historial de pacientes</title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
</head>
<body class="ma-0">
<div class="debug" th:if="${application.debug}">
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="username" value="patient">
        <input type="hidden" name="password" value="aa">
        <button type="submit">patient</button>
    </form>
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="username" value="doctor">
        <input type="hidden" name="password" value="aa">
        <button type="submit">doctor</button>
    </form>
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="username" value="admin">
        <input type="hidden" name="password" value="aa">
        <button type="submit">admin</button>
    </form>
</div>
</body>
</html>
