<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <meta charset="UTF-8">
    <title>Physionet</title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
    <link th:href="@{/css/login.css}" rel='stylesheet'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="ma-0">
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <div class="content center">
            <form class="login-form" th:action="@{/login}" method="post" id="l-form">
                <img class="image-logo" th:src="@{images/Physionet.png}" alt="physionet logo"/>
                <label class="login-label" for="username">Nombre de usuario</label>
                <input class="login-input" type="text" id="username" name="username">
                <label class="login-label" for="username">Contraseña</label>
                <input class="login-input" type="password" id="password" name="password" >
                <div id="feedback" class="center"></div>
                <button class="login-submit ma-1" type="submit">Iniciar sesion</button>
            </form>
        </div>
    </div>
</body>
<script th:inline="javascript">
    $(() => {
        let username = $("#username")
        let password = $("#password")
        let feedbackContainer = $("#feedback")
        let form = $("form")

        username.keypress(() => { feedbackContainer.empty() } );
        password.keypress(() => { feedbackContainer.empty() } );

        form.submit(event => {
            event.preventDefault();
            $.ajax({
                url: config.rootUrl + `checkCredentials`,
                type: "POST",
                headers: {'X-CSRF-TOKEN': config.csrf.value},
                data: {
                    username: username.val(),
                    password: password.val(),
                },
                success: (response) => {
                    if(response) {
                        form.unbind('submit').submit()
                    }
                    else {
                        feedbackContainer.empty();
                        feedbackContainer.append("<span class='badge badge-danger'>Usuario o contraseña inválidos</span>");
                    }
                }
            })
        })
    })
</script>
</html>

