<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <title>Physionet - Mis Mensajes</title>
    <link th:href="@{/css/messages.css}" rel='stylesheet'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body class="ma-0">
    <div th:replace="fragments/header :: header"></div>
    <div class="d-flex">
        <div class="sideBar d-flex">
            <div th:replace="fragments/search-bar :: search_bar(title='Mis mensajes')"></div>
            <div class="listaUsuarios" >
                <each th:each="messagers : ${receivedMessages}" >
                    <a class="d-flex" th:classappend="@{${messagers.key} == ${usernameAddresser} ? selected-user : user}" th:href="@{'./messagesConversation?username='+${messagers.key} }">
                        <p class="ma-0"  th:text="${messagers.key}">Antonio Ramirez

                        </p>
                        <div class="spacer"></div>
                        <span th:if="@{${messagers.value} > 0}" th:text="${messagers.value}" class="badge">61</span>
                    </a>
                </each>

            </div>
        </div>
        <div th:if="@{${usernameAddresser} != null}" class="conversacion w-100 d-flex">
            <div class="subheader w-100 pa-1 d-flex">
                <p class="title ma-0" th:text="${usernameAddresser}">Nombre paciente</p>
                <div class="spacer"></div>
                <p class="title ma-0">últ. vez recientemente</p>
            </div>
            <div id="divMensajes" class="mensajes w-100 d-flex">
                <div class="column-flex d-flex" th:each="message : ${conversation}">
                    <div th:if="${message.sender.id != user.id}" class="msgIN">
                        <p th:text="${message.text}">Hola, ¿qué tal el tobillo?</p>
                        <div class="timeIN">
                            <small >🕛 <span th:text="${message.dateSent.hour}">14</span>:<span th:text="${message.dateSent.minute}">00</span>
                            <span class="offset" th:attr="data-date=${message.dateSent}"></span>
                            </small>
						</div>
                    </div>
                    <div th:unless="${message.sender.id != user.id}" class="msgOUT">
                        <p th:text="${message.text}">Hola, ¿qué tal el tobillo?</p>
                        <div class="timeOUT">
                            <small >🕛 <span th:text="${message.dateSent.hour}">14</span>:<span th:text="${message.dateSent.minute}">00</span>
                            <span class="offset" th:attr="data-date=${message.dateSent}"></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <form method="POST" th:action="@{'./messagesConversation'}">
                    <div class="d-flex">
                        <input type="hidden" name="username" th:value="${usernameAddresser}"/>
                        <input type="text" class="input-text" name="messageText" id="textoMensaje" required>
                        <button type="submit" id="sendButton">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div th:if="@{${usernameAddresser} == null}" class="empty-view w-100 d-flex ">
            <p class="center empty-icon">💬</p>
            <h2 class="center empty-text">Seleciona un chat para comenzar </h2>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // recarga toda la página si recibe algo vía WS
            ws.receive = (text) => {
                if(text.content_type === 'chat-message')
                    window.location.reload(true);
            }
            
            const objDiv = document.getElementById("divMensajes");
            objDiv.scrollTop = objDiv.scrollHeight;

            const offsets = document.getElementsByClassName("offset");
            const now = new Date();
            for (const o of offsets) {
                const t = new Date(o.dataset.date);
            	console.log(now, t, now-t)
                const days = Math.round((now-t)/(1000*60*60*24));
            	o.innerText = days == 0 ? "" : "+" + days + "d";
            }

            const texto = document.getElementById("textoMensaje");
            texto.addEventListener('input', () => {
                texto.setCustomValidity('');
                texto.checkValidity();
            });

            texto.addEventListener('focusout', () => {
                if(texto.value.trim().length == 0) {
                    texto.setCustomValidity('El texto no puede estar vacio');
                }
            });


        });
    </script>
</body>
</html>
