<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Physionet - Historial de ' + patientName}">Physionet - Historial de pacientes</title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
    <link th:href="@{/css/patient.css}" rel='stylesheet'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body class="ma-0">
    <div th:replace="fragments/header :: header"></div>
    <div style="margin: 2%">
        <table id="absenceTable" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Doctor</th>
                <th>Fecha</th>
                <th>Localización</th>
                <th>Motivo</th>
                <th>Detalles</th>
                <th>Recomendaciones</th>
            </tr>
            </thead>
            <tbody>
            <each class="each" th:each="a : ${appointments}">
                <tr>
                    <td th:text="${a.id}">Id</td>
                    <td th:text="${a.doctor.name + ' ' + a.doctor.surname}">doctor</td>
                    <td th:text="${a.date}">Date</td>
                    <td th:text="${a.location}">Location</td>
                    <td th:text="${a.motive}">Motivo</td>
                    <td th:text="${a.details}">Detalles</td>
                    <td th:text="${test}">Recomendaciones</td>
                </tr>
            </each>
            </tbody>
        </table>
    </div>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#absenceTable').DataTable();
    } );
</script>
</html>
