<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <meta charset="UTF-8">
    <title>Physionet - Citas pendientes</title>
    <link th:href="@{/css/common.css}" rel='stylesheet'/>
    <link th:href="@{/css/patient.css}" rel='stylesheet'/>
    <link th:href="@{/css/doctor.css}" rel='stylesheet'/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body class="ma-0">
<div th:replace="fragments/header :: header"></div>
<div class="d-flex">
    <div class="sideBar d-flex">
        <div th:replace="fragments/search-bar :: search_bar(title='Citas pendientes')"></div>
        <div class="pacients-list">
            <each th:each="app : ${appointments}" th:id="list + ${app.id}" th:value="${app.id}">
                <a class="d-flex" th:href="@{'/patient/appointment?id='+${app.id}}"><p class="ma-0">
                    <span class="appointmen-title-span" th:text="${app.motive}">Motive</span><br>
                    <span th:text="${app.date.dayOfMonth + '-' + app.date.monthValue + '-' + app.date.year}">Date</span><div class="spacer"></div></p>
                    <span class="badge"><hour th:text="${app.date.hour}">10</hour>:<min th:text="${app.date.minute}">15</min></span>
                </a>
            </each>
        </div>
    </div>
    <div class="history-date w-100 d-flex">
        <div class="subheader pa-1 d-flex">
            <div class="spacer"></div>
            <button  onclick="showModal()" ><span class="title">➕ Pedir nueva cita</span></button>
        </div>

        
        <div class="history-messages">
            <div class="pa-1 d-flex" th:each="app: ${appointments}" th:id="appo + ${app.id}">
                <div class="w-100 d-flex" >
                    <div class="date-text w-100">
                        <h1 th:href="@{/patient}" th:text="${app.motive}">Motive</h1>
                        <h2 th:href="@{/patient}" th:text="${'Dr. ' + app.doctor.name}">Doctor</h2>
                        <button class="cancel-button float-right mr-1" th:value="${app.id}" th:attr="onclick=|deleteApp('${app.id}')|">❌ Cancelar cita</button>
                        
                    </div>
                    <div class="date-info">
                        <p class="ma-0">🕛 Hora:</p>
                        <p class="ma-0 text-align-right" th:href="@{/patient}" th:text="${app.date.hour + ':' + app.date.minute}">Hour </p>
                        <p class="ma-0">🏥 Sala:</p>
                        <p class="ma-0 text-align-right" th:href="@{/patient}" th:text="${app.location}">Location</p>
                        <p class="ma-0">📞 Tlf:</p>
                        <p class="ma-0 text-align-right">623728364 </p>
                    </div>
                </div>
            </div>
            <hr>  
        </div>
    </div>
</div>
<th:block th:if="${successM}">
    <div class="message" id="success-message">
        <h3 th:text="#{${successM}}">Mensaje de éxito</h3>
    </div>
</th:block>
<th:block th:if="${errorM}">
    <div class="message" id="error-message">
        <h3 th:text="#{${errorM}}">Mensaje de error</h3>
    </div>
</th:block>
<div th:replace="fragments/appointments-modal-form"></div>

<script th:inline="javascript">
    function deleteApp(id) {
        if(! confirm("¿Estas seguro de que quieres cancelar la cita?")) {
            return false;
        }
        
        $.ajax({
            url: config.rootUrl + `patient/deleteappointment/${id}`,
            type: "POST",
            headers: {'X-CSRF-TOKEN': config.csrf.value},
            success: (response) => {
                $('.message').remove();
                if(response['successM']) {
                    $("#list" + id).remove();
                    $("#appo" + id).remove();
                    $('body').append(`<div class="message" id="success-message"><h3 id="messageH3"></h3></div>`);
                    $('#messageH3').text([[#{appointment.deleted.success}]]);
                }
                else {
                    $('body').append(`<div class="message" id="error-message"><h3 id="messageH3"></h3></div>`);
                    $('#messageH3').text([[#{appointment.deleted.error}]]);
                }
            }
        })
    }
</script>

</body>
</html>
